
fastapi[all]
pydantic
uvicorn
langsmith
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langgraph
openai
chromadb
tiktoken
python-dotenv
nest_asyncio

motor
pymongo
bcrypt

